
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a5a2a2;
    padding: 20px;
    color: #000000;
  }
  
  .logo a {
    color: #000000;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }
  
  .nav-links li a {
    color: #000000;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
  }
  
  .nav-links li a:hover {
    background-color: #555;
  }
  
  .burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px;
  }
  
  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
    }
    .burger {
      display: flex;
    }
  }




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #333;
  }
  
  header {
    background-color: #333;
    color: #a5a2a2;
    padding: 20px;
    text-align: center;
  }
  
  .contact-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #a5a2a2;
    border-radius: 5px;
  }
  
  .contact-form h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    resize: vertical;
  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #555;
  }
  
  footer {
    background-color: #a5a2a2;
    color: #333;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  